



  <main>

    <br><br><br>


   
      <h1 class="center1">Hi! {{userName}} </h1> 


    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout"> Logout </a>
    </div>
    <br>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/create-event"> Create Event </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/bookedevents"> Booked Events </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>

    <br>

    <div>


      &nbsp;&nbsp;&nbsp;&nbsp; <a href="/myevents" > My Events </a>
    </div>
    <div>
      <form autocomplete="off" method="Post" id="searchForm">
       
          <label for="search_term" ></label><br>
          <h4 class="center1">Search for an Event here!!</h4>
       
        <input type="text" class="ghost-round2" placeholder=" Search Events" name="search" id="search_term"><br>
       <button type="submit"  class="container5" value="Search" id="search_button">Search</button>

        <br><br><br>
      </form>
    </div>



    {{!-- <form autocomplete="off" method="POST" action="/userhomepage"> --}}
      <form autocomplete="off" method="POST">

        <h1>&nbsp;&nbsp;Filter By Category</h1>
        <label class="container2">Party
          <input type="checkbox" id="party">
          <span class="checkmark"></span>
        </label>
        <label class="container2">Get-Together
          <input type="checkbox" id="getTogether">
          <span class="checkmark"></span>
        </label>
        <label class="container2">Conference
          <input type="checkbox" id="conference">
          <span class="checkmark"></span>
        </label>
        <label class="container2">workshop
          <input type="checkbox" id="workshop">
          <span class="checkmark"></span>
        </label>
        <label class="container2">Expo
          <input type="checkbox" id="expo">
          <span class="checkmark"></span>
        </label>
        <label class="container2">Networking session
          <input type="checkbox" id="networkingSession">
          <span class="checkmark"></span>
        </label>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button" id='filterbtn' type="button"> filter </button>

      </form> 

      

      
      <br>
      <br>

      <div id="serchevent" hidden>
      </div>
      <div id="myallevent">
        {{#each allevents}}
        <div class="ggg">
          <p class="container3">{{this.title}}</p><br>
          <p class="container3"> <strong>Category:</strong> {{this.category}} </p><br>
          <p class="container3"><strong>Creator Name: </strong> {{this.creator}}</p><br>
          <p class="container3"><strong>Start Time:</strong> {{this.timestart}}</p><br>
          <p class="container3"><strong> Time:</strong> {{this.endtime}}</p><br>
          <p class="container3"><strong>Address:</strong> {{this.address}}</p><br>
          <p class="container3"><strong>City:</strong> {{this.city}}</p><br>
          <p class="container3"><strong>State:</strong> {{this.state}}</p><br>
          <p class="container3"><strong>Description:</strong> {{this.description}}</p> <br>
          <p class="container4"><strong>Ticket Price: </strong> {{this.price}}</p><br>
          <p class="container4"><strong>Tickets Left: </strong> {{this.ticketcapacity}}</p><br>


         
            <a href="/events/{{this._id}}/like" class="like">Like Event</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p id="likeCount" class="whitefont">{{this.likeCount}}</p>
        

         
            <a href="/events/{{this._id}}/interested" class="interested">Interested</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p id="interestedCount" class="whitefont">{{this.interestedCount}}</p>
          
     
            <a href="/events/{{this._id}}/going" class="going">Going</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p id="goingCount" class="whitefont">{{this.goingCount}}</p>
  

          <div class="center2">
            {{#if this.comments}}
            {{#each this.comments}}
            <p class="container7"><strong>{{this}}</strong></p>
            {{/each}}
            {{/if}}
          </div>

    
            <form action="/comment/{{this._id}}" method="POST" id="commentform">

              <p style="color:#eee">Comment section</p>
              <label for="comment"></label>

              <input type="text" name="comment" id="comment" class="inputbox" required> <br>
         



            <button class="container5" type="submit">Add the comment</button>
    </form>
    <br>
    <br>
    <br>
    <a href="/checkout/{{this._id}}" >Buy Ticket</a><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    <br>

    <div>
      <a href="https://www.facebook.com/" class="fa fa-facebook"> share on Facebook</a> <br>
      <br>
      <a href="https://twitter.com/" class="fa fa-twitter">share on Twitter</a>

    </div>




    <br><br><br><br>
    </div>
    <br>
    <br>
    {{/each}}
    </div>
    <div class="center1">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/userhomepage">Homepage</a>
    </div>




</main>